@model Shop.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<nav>
    <ul>
        @foreach(var bookType in Model.BookTypes)
        {
        <li>
            <div class="categoryItem">
                <i class="@bookType.IconFileName"></i>
                <a href="@Url.Action("List", "Store", new { bookTypeName = bookType.Name.ToLower()})">
                    @bookType.Name
                </a>
                <i class="fas fa-arrow-right"></i>
            </div>
        </li>
        }
    </ul>
</nav>